body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(to bottom right, #8a2be2, #ffffff, #dda0dd); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.table-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Define the table style */
.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

/* Define the row style */
.table-row {
  display: table-row;
}

/* Define the cell style */
.table-cell {
  display: table-cell;
  border: 1px solid lightgray;
  padding: 10px;
}

/* Define the header cell style */
.table-header {
  font-weight: bold;
  text-align: center;
}

#table-row {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

